:root{
    --platzi-color-green-light: #97c93e;
    --platzi-color-green-dark: #82ad36;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    min-width: 320px;
    font-size: 1.6rem;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h5{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
#header-nav .navbar-brand{
    display: flex;
}
#header-nav .navbar-brand p{
    font-size: 1.6rem;
    padding-left: 4px;
    margin: auto 0;
}
#header-nav img{
 width: 80px;
}
.navbar-nav .nav-item .text-resaltar{
    color: var(--platzi-color-green-light);
}
main .Carousel img{
    min-height: 60vh;
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}
.Carousel #carousel{
    position: relative;
}
.Carousel #carousel .overlay{
    z-index: 1; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
main .Carousel .overlay a, main #place-time a{
    font-size: 1.6rem;
}
main .Carousel .overlay a:hover, main #place-time a{
    text-decoration: none;
}
.btn{
    font-size: 1.6rem;
}
.btn-platzi{
    font-size: 1.6rem;
    color: white;
    background-color: var(--platzi-color-green-light);
}
.btn-platzi:hover{
    color: whitesmoke;
    background-color: var(--platzi-color-green-dark);
}
.section-cards .card{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.section-cards .card .card-body h5{
    font-size: 2rem;
}
#place-time{
    color: white;
    background-color: #343a40;
}
#place-time .row img{
    max-width: 100%;
}
#place-time .div-info{
 padding: 30px 20px;
}
#place-time .div-info p{
    text-align: justify;
}
#orador-Form .col input{
    font-size: 1.6rem;
}
#orador-Form .col textarea{
    font-size: 1.6rem;
}
footer{
    /* padding: 24px 0; */
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372)
}
footer a{
    color: white;
}
#modalCompra input{
    font-size: 1.6rem;
}